_ReSharper.*
*/bin
*/obj
*.resharper.user
*.suo
*.bak
*.sln.cache
*.user
*.zip
*.chm
*.nupkg
*.ncrunchproject
*.ncrunchsolution
*.sln.dotsettings
Help/*
build/*
nuget/*
tools/Sandcastle/Data/Reflection/*
merged
solr/solr/data
solr/logs
log.txt
NDependOut
docs
mausch.snk
lib/TDNet
SampleSolrApp/log*
_NCrunch*/*
*~
packages/*
.nuget/*.exe
*.sln.ide
**/.vs/*
**/packages
Documentation/Debug_LOCAL_41616.md
Documentation/Debug_BASE_41616.md
Documentation/Debug_BACKUP_41616.md
Documentation/Debug_BACKUP_36568.md
Documentation/Debug_BACKUP_36440.md
Documentation/Debug_BACKUP_29120.md
Documentation/Debug_REMOTE_41616.md
Documentation/Debug_REMOTE_36568.md
Documentation/Debug_REMOTE_36440.md
Documentation/Debug_BASE_36568.md
Documentation/Debug_BASE_36440.md
Documentation/Debug_BASE_29120.md
Documentation/Debug_LOCAL_36568.md
Documentation/Debug_LOCAL_36440.md
Documentation/Debug_LOCAL_29120.md
Documentation/Debug_REMOTE_29120.md
